USE [master]
GO
/****** Object:  Database [School]    Script Date: 22.06.2015 г. 14:15:05 ч. ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\School.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\School_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 22.06.2015 г. 14:15:05 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[MaxStudents] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 22.06.2015 г. 14:15:05 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Age] [int] NULL,
	[PhoneNumber] [varchar](15) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentsClasses]    Script Date: 22.06.2015 г. 14:15:05 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsClasses](
	[StudentId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
 CONSTRAINT [PK_StudentsClasses] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassId], [Name], [MaxStudents]) VALUES (1, N'Mathematics', 30)
INSERT [dbo].[Classes] ([ClassId], [Name], [MaxStudents]) VALUES (2, N'Physics', 25)
SET IDENTITY_INSERT [dbo].[Classes] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [Name], [Age], [PhoneNumber]) VALUES (1, N'Ivan', 15, N'+359888112233')
INSERT [dbo].[Students] ([StudentId], [Name], [Age], [PhoneNumber]) VALUES (3, N'Pesho', 17, N'+359888112234')
INSERT [dbo].[Students] ([StudentId], [Name], [Age], [PhoneNumber]) VALUES (4, N'Gosho', 16, N'+359888112236')
SET IDENTITY_INSERT [dbo].[Students] OFF
INSERT [dbo].[StudentsClasses] ([StudentId], [ClassId]) VALUES (1, 1)
INSERT [dbo].[StudentsClasses] ([StudentId], [ClassId]) VALUES (1, 2)
INSERT [dbo].[StudentsClasses] ([StudentId], [ClassId]) VALUES (3, 1)
ALTER TABLE [dbo].[StudentsClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudentsClasses_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentsClasses] CHECK CONSTRAINT [FK_StudentsClasses_Classes]
GO
ALTER TABLE [dbo].[StudentsClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudentsClasses_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentsClasses] CHECK CONSTRAINT [FK_StudentsClasses_Students]
GO
USE [master]
GO
